<h3>Android Server Node Lists</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <td> <strong> Server </strong> </td>
      <td> <strong> Status</strong></td>
      <td> <strong> Change Status </strong>

    </tr>
  </thead>
  <tbody>

    <% @servernodes.each do |f|%>

    <tr>
      <td> <%= f.name %> </td>
      <td><%= f.status %> </td>
      <td><%= link_to("Change Server Status", edit_servernode_path(f),
        :class => "btn btn-primary btn-sm") %></td>
    </tr>

  </tbody>
  <% end %>

</table>