<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <%= render :partial => "product_item", :collection => @products , :as => :product %>

    </div>

  </div>
</div>
