<h2>Play Game</h2>
<script>
  $(document).ready(function(){
      var $remote = $('#remote_ip');
      console.log("What the fuck!!!");
      console.log($('#remote_ip').html());
      $remote.append(":3001");
  });

</script>
<div id ="remote_ip"><%= @ip %></div>


<!--$('.id').val