<div class = "row">
  <div class="col-md-5">
    <%= image_tag(@product.default_photo.image.url, :class => "thumbnail", :size => "400x300") %>
  </div>

  <div class="col-md-7">
    <h2><%= @product.title %></h2>

    <div class="pull-medium">
      <%= link_to("Play Game Now", play_game_product_path,:html =>{:method => :get},:class =>"btn btn-danger btn-sm") %>
    </div>

  </div>




</div>